<h1><%= @article.title %></h1>

<%= @article.content %>

<br /><br />
<p>
  <strong>Category:</strong> <%= @article.category_id %><br />
  <strong>User:</strong> <%= @article.user_id %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
