<h1><%= @article.title %></h1>

<%= @article.content %>

<br /><br />
<p>
  <strong>Category:</strong> <%= @article.category.title %><br />
  <strong>User:</strong> <%= @article.user.email %>
</p>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-info" if logged_in?(:editor, :admin) && current_user.id == @article.user_id %>
